#firebaseui_container {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

.firebaseui-container {
  width: 100%;
  max-width: 420px !important;
}

.firebaseui-idp-list {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  .firebaseui-idp-list {
    flex-direction: column;
  }
}

.firebaseui-card-content:first-child {
  padding: 0 !important;
}
